.App {
  text-align: center;
  background-color: rgb(224, 216, 206);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.page {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.button-container {
  font-size: calc(10px + 2vmin);
  margin: 5px;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.input-box {
  margin-left: 10px;
  margin-right: 10px;
}

.description {
  background-color: rgb(236, 251, 233);
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
}

.title-text {
  font-size: calc(10px + 4vmin);
  font-weight: bold;
}
